<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.zao.fire.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="edu.zao.fire.rcp.Perspective"
            id="file-utils.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.zao.fire.views.renamer.RenamerView"
            id="file-utils.renamer.view"
            name="Renaming View"
            restorable="true">
      </view>
      <view
            class="edu.zao.fire.views.browser.BrowserView"
            id="file-utils.views.browser"
            name="Browser View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="file-utils.views.browser"
               minimized="false"
               moveable="true"
               ratio="0.382"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               mnemonic="F">
            <menu
                  label="New..."
                  mnemonic="N">
               <command
                     commandId="file-utils.commands.openmatchreplace"
                     label="Match/Replace Rule"
                     mnemonic="R"
                     style="push">
               </command>
               <command
                     commandId="file-utils.commands.openlist"
                     label="List Rule"
                     mnemonic="L"
                     style="push">
               </command>
               <command
                     commandId="file-utils.commands.openmetadata"
                     label="Metadata Rule"
                     mnemonic="M"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="file-utils.commands.openRule"
                  label="Open"
                  mnemonic="O"
                  style="push">
            </command>
            <command
                  commandId="file-utils.commands.saveCurrentEditor"
                  label="Save"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  mnemonic="x">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="file-utils.toolbar2">
            <command
                  commandId="file-utils.commands.openRule"
                  id="file-utils.toolbar.open"
                  style="push">
            </command>
            <command
                  commandId="file-utils.commands.saveCurrentEditor"
                  id="file-utils.toolbar.save"
                  style="push"
                  tooltip="Save Current Rule">
            </command>
         </toolbar>
         <toolbar
               id="file-utils.toolbar1">
            <command
                  commandId="file-utils.commands.openlist"
                  id="file-utils.toolbar.newlistrule"
                  style="push"
                  tooltip="New List Rule">
            </command>
            <command
                  commandId="file-utils.commands.openmatchreplace"
                  id="file-utils.toolbar.newmatchreplace"
                  style="push"
                  tooltip="New Match/Replace Rule">
            </command>
            <command
                  commandId="file-utils.commands.openmetadata"
                  id="file-utils.toolbar.newmetadata"
                  style="push"
                  tooltip="New Metadata Rule">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="linuxProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="file-utils.application"
            name="DeployTest">
         <property
               name="windowImages"
               value="icons/flame-16.png,icons/flame-32.png,icons/flame-48.png,icons/flame-64.png,icons/flame-128.png">
         </property>
         <property
               name="appName"
               value="DeployTest">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="file-utils.application"
            name="DeployTest">
         <property
               name="appName"
               value="DeployTest">
         </property>
         <property
               name="windowImages"
               value="icons/flame-16.png,icons/flame-32.png,icons/flame-48.png,icons/flame-64.png,icons/flame-128.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.zao.fire.editors.matchreplace.MatchReplaceRuleEditor"
            default="false"
            icon="icons/matchReplaceIcon.png"
            id="file-utils.editors.matchreplace"
            name="Match/Replace Rule">
      </editor>
      <editor
            class="edu.zao.fire.editors.metadata.MetadataRuleEditor"
            default="false"
            icon="icons/metadataIcon.png"
            id="file-utils.editors.metadata"
            name="Metadata Rule">
      </editor>
      <editor
            class="edu.zao.fire.editors.list.ListRuleEditor"
            default="false"
            icon="icons/listIcon.png"
            id="file-utils.editors.list"
            name="List Rule">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="file-utils.commands.openmatchreplace"
            name="New Match/Replace Rule">
      </command>
      <command
            id="file-utils.commands.openmetadata"
            name="New Metadata Rule">
      </command>
      <command
            id="file-utils.commands.openlist"
            name="New List Rule">
      </command>
      <command
            id="file-utils.commands.saveCurrentEditor"
            name="Save">
      </command>
      <command
            id="file-utils.commands.openRule"
            name="Open Rule">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.zao.fire.commands.OpenMatchReplaceCommandHandler"
            commandId="file-utils.commands.openmatchreplace">
      </handler>
      <handler
            class="edu.zao.fire.commands.OpenMetadataCommandHandler"
            commandId="file-utils.commands.openmetadata">
      </handler>
      <handler
            class="edu.zao.fire.commands.OpenListCommandHandler"
            commandId="file-utils.commands.openlist">
      </handler>
      <handler
            class="edu.zao.fire.commands.SaveCurrentCommandHandler"
            commandId="file-utils.commands.saveCurrentEditor">
      </handler>
      <handler
            class="edu.zao.fire.commands.LoadRuleCommandHandler"
            commandId="file-utils.commands.openRule">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="file-utils.commands.openlist"
            icon="icons/newListIcon.png">
      </image>
      <image
            commandId="file-utils.commands.openmatchreplace"
            icon="icons/newMatchReplaceIcon.png">
      </image>
      <image
            commandId="file-utils.commands.openmetadata"
            icon="icons/newMetadataIcon.png">
      </image>
      <image
            commandId="file-utils.commands.openRule"
            icon="IMG_OBJ_FOLDER">
      </image>
      <image
            commandId="file-utils.commands.saveCurrentEditor"
            icon="IMG_ETOOL_SAVE_EDIT">
      </image>
   </extension>

</plugin>
